{% extends 'base.html' %}
{% load static %}

{% block title %}Your Mementos{% endblock %}
{% block content %}
<style>
    body {
        min-height: 200vh;
    }
</style>
<section class="home">
    <div class="container">

        <h1 class="title-font"><a href="/"><img src="{% static 'img/back.svg' %}" alt="Go Back" style="width: 40px"></a>
            {{ memento.title }}</h1>

        <div class="row">
            <div class="col-md-8 card card-body brown">
                <div id="imageSlider{{ memento.id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% if memento.img1 %}
                        <div class="carousel-item active">
                            <img src="{{ memento.img1.url }}" class="d-block w-100" alt="Image 1">
                        </div>
                        {% endif %}
                        {% if memento.img2 %}
                        <div class="carousel-item">
                            <img src="{{ memento.img2.url }}" class="d-block w-100" alt="Image 2">
                        </div>
                        {% endif %}
                        {% if memento.img3 %}
                        <div class="carousel-item">
                            <img src="{{ memento.img3.url }}" class="d-block w-100" alt="Image 3">
                        </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#imageSlider{{ memento.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#imageSlider{{ memento.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% if memento.text %}
                <div class="memento-text py-5">
                    {{ memento.text|linebreaksbr }}
                </div>
                {% endif %}
                <p class="text-center my-3"><strong>Crafted on {{ memento.published_date }} with ❤️ </strong></p>

            </div>
            <div class="col-md-4">
                {% if memento.audio %}
                <div class="col-lg-12 card card-body brown">
                    <h3>Refresh Your Memories with Audio</h3>
                    <div class="audio-controls">
                        <div class="position-relative">
                            <img src="{% static 'img/radio.svg' %}" alt="Radio" class="radio-icon w-100">
                            <img src="{% static 'img/play.svg' %}" alt="Play" class="play-btn"
                                onclick="toggleAudio()">
                            <img src="{% static 'img/pause.svg' %}" alt="Pause" class="pause-btn"
                                onclick="toggleAudio()">
                        </div>
                        <audio id="mementoAudio" src="{{ memento.audio.url }}"></audio>
                    </div>
                </div>
                {% endif %}
                <div class="col-lg-12 mt-3">
                    <div class="card card-body brown">
                        <h3>Mementos Info:</h3>
                        <ul>
                            <li>Created on: {{ memento.published_date }}</li>
                            <li>Created by: {{ user.username }}</li>
                            <li>This Memento is <span id="mementoAge"></span> old.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5 card mt-3">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4 text-center">
                    <h2>Generate Your Cute Polaroid</h2>
                    <div class="d-flex">
                        <a onclick="showPolaroid()" class="btn btn-lg btn-danger showPolaroid">📷 Click To Create Your Polariod ✨</a>
                    <button class="downloadPolaroid btn-lg btn btn-danger ms-2">Download Polaroid</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/static/img/cam.svg" alt="" class="w-100">
                </div>
            </div>
            <div class="row align-items-center justify-content-end">
                <div class="col-md-4">
                    <div class="polaroid">
                        {% if memento.img1 %}
                            <img src="{{ memento.img1.url }}" class="w-100" alt="Image 1" id="polaroidImage" style="    height: 25vh;
                            object-fit: cover;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}